<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo teal-text"
        ><i class="material-icons large">account_circle</i> Contacts</a
      >
      <app-search></app-search>
      <a href="#" data-target="slide-out" class="sidenav-trigger"
        ><i class="material-icons teal-text">menu</i></a
      >
    </div>
  </nav>
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="https://materializecss.com/images/office.jpg" />
        </div>
        <a href="#user"
          ><img class="circle" src="https://materializecss.com/images/yuna.jpg"
        /></a>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"
          ><span class="white-text email">jdandturk@gmail.com</span></a
        >
      </div>
    </li>
    <li>
      <a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
    </li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
</header>
