<ul class="collection">
  <li class="collection-item avatar" *ngFor="let contact of contacts | async">
    <img
      src="https://materializecss.com/images/yuna.jpg
"
      alt=""
      class="circle"
    />
    <span class="title">{{contact.name}}</span>
    <p>
      {{contact.lastName}} <br />
      {{contact.number}}
    </p>
    <a href="#!" class="secondary-content"
      ><i class="material-icons">grade</i></a
    >
  </li>
  <!-- <li class="collection-item avatar">
    <img
      src="https://materializecss.com/images/yuna.jpg
"
      alt=""
      class="circle"
    />
    <span class="title">Title</span>
    <p>
      First Line <br />
      Second Line
    </p>
    <a href="#!" class="secondary-content"
      ><i class="material-icons">grade</i></a
    >
  </li>
  <li class="collection-item avatar">
    <img
      src="https://materializecss.com/images/yuna.jpg
"
      alt=""
      class="circle"
    />
    <span class="title">Title</span>
    <p>
      First Line <br />
      Second Line
    </p>
    <a href="#!" class="secondary-content"
      ><i class="material-icons">grade</i></a
    >
  </li>
  <li class="collection-item avatar">
    <img
      src="https://materializecss.com/images/yuna.jpg
"
      alt=""
      class="circle"
    />
    <span class="title">Title</span>
    <p>
      First Line <br />
      Second Line
    </p>
    <a href="#!" class="secondary-content"
      ><i class="material-icons">grade</i></a
    >
  </li> -->
</ul>
